<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is rcb page</h1>
        <h1><i>captain of rcb is Virat Kohli</i></h1>
        <h2><a href="{% url 'csk:dhoni' %}">Go to dhoni</a></h2>
        <h2><a href="{% url 'csk:jadeja' %}">Go to jadeja</a></h2>
        <h2><a href="{% url 'sehwag' %}">Go to sehwag </a></h2>
        <h2><a href="{% url 'hardik' %}">Go to hardik</a></h2>
        <h2><a href="{% url 'rcb:siraj' %}">Go to siraj </a></h2>
    </center>
</body>
</html>